@charset "UTF-8";

@import "../../../node_modules/startbootstrap-agency/scss/agency";

header.masthead {
  background-image: url('../vendor/bootstrap/images/header-bg.jpg');
}

#get-in-touch {
  background-image: url('../vendor/bootstrap/images/map-image.png');
  background-color: #222222;
  background-repeat: no-repeat;
  background-position: center
}

// Base
// @import 
//   'base/typography',
//   'base/content';

// Layout
// @import 
//   'layout/header',
//   'layout/sidebar',
//   'layout/footer';

// Components
// @import 
// 'components/views',
// 'components/mainpromo';
//   'components/forms',
//   'components/flexslider',
//   'components/nav';