<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">BIG LENS. BIG RESULTS.</div>
      <div class="intro-heading">Your partner in strategic digital marketing</div>
      <a class="btn btn-xl js-scroll-trigger" href="#who-we-are">Tell Me More</a>
    </div>
  </div>
</header>