{% for row in rows %}

  {% if loop.first %}
    <div class="row">
  {% endif %}

    {{ row.content }}

  {% if loop.index % 3 == 0 %}
    </div>
    <div class="row">
  {% endif %} 

  {% if loop.last %}
    </div>
  {% endif %}

{% endfor %}
