<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">{{ fields.title.content }}</div>
      <div class="intro-heading">{{ fields.field_sub_heading.content }}</div>
      <a class="btn btn-xl js-scroll-trigger" href="#{{ fields.field_cta_link.content }}">{{ fields.field_cta_text.content }}</a>
    </div>
  </div>
</header>
