{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}

<div class="card-deck">
  {% for row in rows %}

  <div class="card h-300">
    <div class="card-header">
      Header Text
    </div>
      <img class="card-img-top" src="https://source.unsplash.com/featured/" alt="Card image top">
      <div class="card-img-overlay">
          <h3 class="card-title">Card title</h3>
          <h4 class="card-subtitle">Card subtitle</h4>
          <p class="card-text">This is a simple Card example</p>
      </div>
    <div class="card-footer">
      Footer text
    </div>
  </div>

    {% endfor %}
</div>